<h3>Add Address</h3>
<form [formGroup]="addressAddForm" (ngSubmit)="onSubmit(addressAddForm)">
    <div>
        <label id="street">Street:</label>
        <input type="text" formControlName="street" placeholder="Street"/>
    </div>
    <div>
        <label id="city">City:</label>
        <input type="text" formControlName="city" placeholder="city" />
    </div>
    <div>
        <label id="state">State:</label>
        <input type="text" formControlName="state" placeholder="state" />
    </div>
    <div>
        <label id="zip">Zip Code:</label>
        <input  type="text" formControlName="zip" placeholder="zip"/>
    </div>
    <button type="submit">Add Address</button>
</form>