<h2> {{ title }}</h2>
<h3>Today's : {{ today  }}</h3>
<app-sub-form (newSubForm)="addSubForm($event)"></app-sub-form>
<!-- <app-hobby></app-hobby> -->
<app-people></app-people>

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
  
  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <app-alert></app-alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>
<!-- <app-sub-form (newSubForm)="addSubForm($event)"></app-sub-form> -->